.menu-container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
}

.title-login {
    align-items: center;
    font-size: 40px;
    margin-top: 10px;
}